.footer
  background: $blue
  padding: 25px 0
  .flex
    display: flex
    justify-content: flex-end
  ul
    display: flex
    list-style: none
    li
      margin-left: 40px
      a
        font-size: 20px
        text-align: left
        color: $white
        text-decoration: none
