.step
  padding-bottom: 100px
  h2
    font-size: 28px
    font-weight: 600
    line-height: 1.36
    text-align: center
    color: $blue
    margin-bottom: 20px
  .group
    margin-bottom: 50px
    h3
      font-size: 20px
      font-weight: 600
      line-height: 1.35
      text-align: left
      color: $brown
      margin-bottom: 20px
    .field
      margin-bottom: 20px
      label
        display: block
        font-size: 16px
        line-height: 1.19
        text-align: left
        color: $grey
        margin-bottom: 10px
      input, select
        border-radius: 3px
        border: solid 1px $blue
        background-color: $white
        width: 100%
        height: 60px
        color: $blue
        padding-left: 14px
        box-sizing: border-box
  .grey
    background: $grey2
    width: 100%
    padding: 20px 20px
    border-radius: 3px
    box-sizing: border-box
    .flex
      display: flex
      .checkbox
        margin-right: 10px
        label
          display: flex
          width: 20px
          height: 20px
          border-radius: 3px
          border: solid 1px $blue
          position: relative
          &:before
            content: ''
            position: absolute
            top: 0px
            left: 6px
            width: 6px
            height: 14px
            border: solid $blue
            border-width: 0 2px 2px 0
            transform: rotate(45deg)
            opacity: 0
            transition: opacity 0.3s
        input
          display: none
          &:checked ~ label:before
            opacity: 1
      .label
        font-weight: 600
        line-height: 1.63
        text-align: left
        color: $grey
        margin-top: -4px






  .btn
    width: 365px
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    font-size: 18px
    line-height: 1.33
    text-align: center
    color: $white
    margin-top: 50px
    border: none
    border-radius: 3px
    cursor: pointer
    transition: background 0.3s
    &-submit
      background-color: $brown
      &:hover
        background-color: $white
        color: $brown
        border: 1px solid $brown




  #field-28, #field-29, #field-30
    display: none